@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a.a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  padding: 5px;
  min-height: 100%;
  overflow: hidden;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pacman-container {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
}

.pacman {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: yellow;
}

.leftblock, .rightblock {
  width: 15%;
  margin-top: 15px;
  height: 695px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: 1px solid gold;
}

.built, .start {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  color: yellow;
  font-size: 15px;
  font-family: "Silkscreen";
  background: transparent;
  transition: 0.5s;
}

.top-block {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title, .Score {
  font-family: "Silkscreen";
  font-size: 25px;
  color: white;
}

.built:hover, .start:hover {
  margin-top: 10px;
  border: 2px solid black;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 21px 0px rgba(225, 111, 36, 0.41);
}

.built:active, .start:active {
  border: 2px solid rgb(93, 93, 235);
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 21px 0px rgba(93, 93, 235, 0.5);
  transition: 0.2s;
}

.grid {
  box-sizing: content-box;
  margin-top: 5px;
  border-radius: 15px;
  position: relative;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 5px solid gold;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.ghost-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  transition: all 0.5s linear;
  transform: translate(-50%, -50%);
}

.ghost {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 15px;
  height: 20px;
}

.box {
  cursor: pointer;
  box-sizing: content-box;
  border: 1px dashed yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  font-size: 10px;
  transition: 0.3s;
  position: relative;
}

.box:hover {
  border: 1px dashed yellow;
}

.box:active {
  border: 2px solid yellow;
}

.food-container {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.4);
}

.food {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: orange;
}

#four {
  background-color: olive;
}

@-webkit-keyframes anim1 {
  0% {
    box-shadow: 0px 0px 21px 0px rgba(93, 93, 235, 0.5);
  }
  50% {
    box-shadow: 0px 0px 5px 0px rgba(93, 93, 235, 0.5);
  }
  100% {
    box-shadow: 0px 0px 21px 0px rgba(93, 93, 235, 0.5);
  }
}

@keyframes anim1 {
  0% {
    box-shadow: 0px 0px 21px 0px rgba(93, 93, 235, 0.5);
  }
  50% {
    box-shadow: 0px 0px 5px 0px rgba(93, 93, 235, 0.5);
  }
  100% {
    box-shadow: 0px 0px 21px 0px rgba(93, 93, 235, 0.5);
  }
}