@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a.a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  padding: 5px;
  min-height: 100%;
  overflow: hidden;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftblock, .rightblock {
  width: 15%;
  margin-top: 15px;
  height: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gold;
}

.built, .start {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid black;
  color: yellow;
  background: transparent;
}

.grid {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 5px;
  position: relative;
  width: 600px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
  border: 5px solid black;
}

.ghost-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ghost {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 15px;
  height: 20px;
}

.box {
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px dashed yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: orange;
  font-size: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.box:hover {
  border: 1px dashed yellow;
}

.box:active {
  border: 2px solid yellow;
}

#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: orange;
}

#four {
  background-color: olive;
}
